/* EVERYWHERE */
img[src$='#centersmall']
{
    	display: block;
    	margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
 	max-width: 150px;
}
img[src$='#centermedium']
{
    	display: block;
    	margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
 	max-width: 400px;
}

img[src$='#floatleft']
{
	float: left ;
	margin: 0.7rem ;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
	float: right ;
	margin: 0.7rem ;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

/* whiteplain-custom theme tweaks */
.article-subtitle {font-size:1em;}
a:hover, a:active {
  color: turquoise;
}
a {
  color: teal;
  text-decoration: none;
}
